/* CSS Document */
@font-face {
  font-family:'Klima';
	font-style:normal;
	font-variant:normal;
	font-weight:700;
    src:url('https://s3.amazonaws.com/s3.350.org/fonts/klima/klima-bold-web.eot');
    src:url('https://s3.amazonaws.com/s3.350.org/fonts/klima/klima-bold-web.eot?#iefix') format('embedded-opentype'),
		url('https://s3.amazonaws.com/s3.350.org/fonts/klima/klima-bold-web.svg#klimaheavy') format('svg'),
		url('https://s3.amazonaws.com/s3.350.org/fonts/klima/klima-bold-web.woff2') format('woff2'),
		url('https://s3.amazonaws.com/s3.350.org/fonts/klima/klima-bold-web.ttf') format('truetype');}

@font-face {
  font-family:'Graph FF Condensed';
	font-style:normal;
	font-variant:normal;
	font-weight:700;
    src:url('https://s3.amazonaws.com/s3.350.org/fonts/graph-ff/graph-ff-condensed-black.eot');
    src:url('https://s3.amazonaws.com/s3.350.org/fonts/graph-ff/graph-ff-condensed-black.eot?#iefix') format('embedded-opentype'),
		url('https://s3.amazonaws.com/s3.350.org/fonts/graph-ff/graph-ff-condensed-black.svg#graphffcondensed') format('svg'),
		url('https://s3.amazonaws.com/s3.350.org/fonts/graph-ff/graph-ff-condensed-black.woff2') format('woff2'),
		url('https://s3.amazonaws.com/s3.350.org/fonts/graph-ff/graph-f-condensed-blackf.ttf') format('truetype');}

@font-face {
  font-family:'Katwijk Mono';
	font-style:normal;
	font-variant:normal;
	font-weight:500;
    src:url('https://s3.amazonaws.com/s3.350.org/fonts/katwijk-mono/katwijk-mono-regular.eot');
    src:url('https://s3.amazonaws.com/s3.350.org/fonts/katwijk-mono/katwijk-mono-regular.eot?#iefix') format('embedded-opentype'),
		url('https://s3.amazonaws.com/s3.350.org/fonts/katwijk-mono/katwijk-mono-regular.svg#katwijkmono') format('svg'),
		url('https://s3.amazonaws.com/s3.350.org/fonts/katwijk-mono/katwijk-mono-regular.woff2') format('woff2'),
		url('https://s3.amazonaws.com/s3.350.org/fonts/katwijk-mono/katwijk-mono-regular.ttf') format('truetype');}
