/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700');

/*@font-face {
  font-family:'klima-web';
	font-style:normal;
	font-variant:normal;
	font-weight:700;
    src:url('https://s3.amazonaws.com/s3.350.org/fonts/klima/klima-bold-web.eot');
    src:url('https://s3.amazonaws.com/s3.350.org/fonts/klima/klima-bold-web.eot?#iefix') format('embedded-opentype'),
		url('https://s3.amazonaws.com/s3.350.org/fonts/klima/klima-bold-web.svg#klimaheavy') format('svg'),
		url('https://s3.amazonaws.com/s3.350.org/fonts/klima/klima-bold-web.woff2') format('woff2'),
		url('https://s3.amazonaws.com/s3.350.org/fonts/klima/klima-bold-web.ttf') format('truetype');}*/

@font-face {
  font-family:'folsom-web';
	font-style:normal;
	font-variant:normal;
	font-weight:700;
    src:url('https://s3.amazonaws.com/s3.350.org/fonts/folsom/web/folsom-black-web.eot');
    src:url('https://s3.amazonaws.com/s3.350.org/fonts/folsom/web/folsom-black-web.eot?#iefix') format('embedded-opentype'),
		url('https://s3.amazonaws.com/s3.350.org/fonts/folsom/web/folsom-black-web.svg#graphffcondensed') format('svg'),
		url('https://s3.amazonaws.com/s3.350.org/fonts/folsom/web/folsom-black-web.woff2') format('woff2'),
		url('https://s3.amazonaws.com/s3.350.org/fonts/folsom/web/folsom-black-web.ttf') format('truetype');}

@font-face {
  font-family:'katwijk-mono-web';
	font-style:normal;
	font-variant:normal;
	font-weight:500;
    src:url('https://s3.amazonaws.com/s3.350.org/fonts/katwijk-mono/katwijk-mono-regular-web.eot');
    src:url('https://s3.amazonaws.com/s3.350.org/fonts/katwijk-mono/katwijk-mono-regular-web.eot?#iefix') format('embedded-opentype'),
		url('https://s3.amazonaws.com/s3.350.org/fonts/katwijk-mono/katwijk-mono-regular-web.svg#katwijkmono') format('svg'),
		url('https://s3.amazonaws.com/s3.350.org/fonts/katwijk-mono/katwijk-mono-regular-web.woff2') format('woff2'),
		url('https://s3.amazonaws.com/s3.350.org/fonts/katwijk-mono/katwijk-mono-regular-web.ttf') format('truetype');}
