<form class="m-editor" id="meme-editor-view">
  <h1 class="m-supertitle meta">#RiseForClimate</h1>
  <h1 id="m-title"><span class="bg-teal text-highlight"><%= current_page.data.title %></span></h1>

  <div id="editor-options-image" class="content-pane editor-options-section">
    <h3>Paper Size</h3>
    <select class="aspect-ratio" id="aspect-ratio">
      <option value="" disabled>Paper Size</option>
    </select>

    <h3><label for="image">Background Image</label></h3>
    <select class="image" id="image">
      <option value="" disabled>Select a background image...</option>
    </select>

    <!--<h3>Image File</h3>
    <div class="dropzone" id="dropzone">Drop Image Here</div>
    <input type="file" id="loadinput"></input>


    <div class="image-attribution">
      <h3><label for="credit">Image Credit:</label></h3>
      <input id="credit" name="credit" type="text" placeholder="Source:" value="">
    </div>

    <div class="image-sources">
      <h4 style="display:none;">Image Sources:</h4>
      <ul>
        <li><a class="flickr" href="https://flickr.com/350org/" target="_blank" title="350's organizational collection of photos.">350 Flickr</a></li>
        <li><a class="climate-visuals" href="https://www.climatevisuals.org/images?f%5B0%5D=usage%3ACreative%20Commons" target="_blank" title="Creative commons-licensed climate-related photos.">Climate Visuals</a></li>
        <li><a class="google" href="https://www.google.com/search?q=%20&tbm=isch&tbs=sur:f" target="_blank" title="Google Image Search for images licensed for noncommercial reuse.">Google Image Search</a></li>
        <li><a class="unsplash" href="https://unsplash.com/" target="_blank" title="Free stock photos">Unsplash</a></li>

      </ul>
    </div>





    <h3><label for="image-scale">Resize image</label></h3>
    <input id="image-scale" type="range" max="4" min=".01" step=".01" value="1">
    <p class="text-small"><small>Click and drag the image in the preview to reposition it.</small></p>

    <h3><label for="overlay-alpha">Overlay Transparency</label></h3>
    <input id="overlay-alpha" type="range" max="1" min=".01" step=".01" value="1">

    <div class="m-editor__overlay" id="overlay">
      <h3>Overlay Color</h3>
      <ul class="checkbox-group">
        <li><label><input type="radio" name="overlay" value=""> None</label></li>
      </ul>
    </div>

    <div class="m-editor__backgroundcolor" id="background-color">
      <h3>Background Color</h3>
      <ul class="checkbox-group">
        <li><label><input type="radio" name="background-color" value=""> None</label></li>
      </ul>
    </div> -->

    <!-- <select class="watermark" id="watermark">
      <option value="" disabled>Select a watermark</option>
    </select>

    <h2><label for="watermark-alpha">Watermark Transparency</label></h2>
    <input id="watermark-alpha" type="range" max="1" min=".01" step=".01" value="1">
  -->
  </div>

  <div id="editor-options-text" class="content-pane editor-options-section">
    <!--
      <h2 class="editor-section-header">Text</h2>
    -->

    <h3><label for="headline">Title</label></h3>
    <input id="headline" name="headline" type="text" value="" style="font-size:1.3rem;">
    <div class="editor-slider editor-slider-fontsize">
      <label for="font-size">Title Text Size</label>
      <input id="title-font-size" type="range" max="190" min="18" step="1" value="80">
    </div>

    <h3>Event Info</h3>
    <h3 style="display:none;"><label for="date-time">Date/Time</label></h3>
    <input id="date-time" name="date-time" type="text" value="">

    <h3 style="display:none;"><label for="location">Location</label></h3>
    <input id="location" name="location" type="text" value="">

    <h3 style="display:none;"><label for="location">Location, line 2</label></h3>
    <input id="location-2" name="location-2" type="text" value="">


    <h3><label for="date-time">Website URL</label></h3>
    <input id="website-url" name="website-url" type="text" value="">


    <!--
    <h3><label for="font-family">Font</label></h3>
    <select class="font-family" id="font-family">
      <option value="" disabled>Select a font</option>
    </select>
    -->

    <h3><label for="text-alignment">Text Alignment</label></h3>
    <select class="text-align" id="text-align">
      <option value="" disabled>Select alignment</option>
    </select>


    <!--
    <div class="m-editor__fontcolor" id="font-color">
      <h3>Font Color</h3>
      <ul class="checkbox-group">
        <li><label><input type="radio" name="font-color" value="#000"> Default</label></li>
      </ul>
    </div>
    -->


    <!--
    <div class="checkbox-group text-shadow">
      <h3>
      <input id="text-shadow" name="shadow" type="checkbox">
      <label for="text-shadow">Add text shadow for better legibility.</label>
    </div>
    -->

  </div>


</form>
