$m: '.m-canvas';

#{$m} {
  background:#f9fafb;
  grid-area:canvas;
  padding:wva-pair(3);

  @media screen and (min-width:700px){
    height:100vh;
    overflow:scroll;
  }

  #{$m}__canvas {
    background: #fcfcfc;

    canvas {
      border:1px solid rgba(0,0,0,0.1);
      max-height:calc(100vh - 120px);
      max-width: 100% !important;
    }
  }

  #{$m}__download a {
    background: $theme-color;
    border: none;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    @include transition (background-color ease-in-out 0.3s);

    &:hover {
      background: lighten($theme-color, 25);
    }
  }

  #{$m}__download-note {
    color: #777;
    font-size: 12px;
    font-style: italic;
  }
}
